body {
  background-image: url('ui/background.png');
  background-size: cover;
}

.title {
  font-family: 'Minecraft', sans-serif;
  font-size: 8em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}

.title span {
  color: #78a8ff;
  text-shadow: 2px 2px #000;
}

.subtitle {
  font-family: 'Minecraft', sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000;
  margin-bottom: 50px;
  position: relative;
}

.box {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 30%;
  max-width: 300px;
  height: 290px;
  background-image: url('ui/button_gray.png');
  background-size: cover;
  text-align: center;
  cursor: pointer;
}

.box:hover .button {
  display: none;
}

.box:hover {
  background
