body {
  background-image: url("ui/background.png");
  font-family: "Minecraft", sans-serif;
}

@font-face {
  font-family: "Minecraft";
  src: url("font/minecraft.ttf") format("truetype");
}

.box {
  background-image: url("ui/button_gray.png");
  width: 200px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.box:hover {
  background-image: url("ui/button_green.png");
}

.box:active {
  background-image: url("ui/button_green.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box:active::after {
  content: url("sound/click.ogg");
}

h2, h4 {
  position: relative;
  text-align: center;
}

h2::before, h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #181414;
}

h2::after, h4::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-image: url("ui/minecraft_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
